[submodule "backend"]
	path = backend
	url = git@github.com:gunadarma-academy/asde-michi-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:gunadarma-academy/asde-michi-frontend.git
