[submodule "backend"]
	path = backend
	url = https://github.com/gunadarma-academy/asde-michi-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/gunadarma-academy/asde-michi-frontend
